# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [5]:
print(89.25, "hello", False, 56,    )

89.25 hello False 56

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [7]:
print("hassan",56,56.22,True,sep="-")

hassan-56-56.22-True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [15]:
print("hassan", end=" ")
print(56 , end=" ")
print(56.33 , end=" ")
print(True)

hassan 56 56.33 True

4) Can a python print function take no value to print???

In [17]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [57]:
age=(30)
graduate=(2005)
height=(5.10)
weightgm=(70600)
monthly_incomepkr=(200000)
since_working=(2015)

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [45]:
current_year = (2024)
passout_years= current_year - graduate 
passout_years

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [51]:
working_year=  current_year - since_working 
working_year

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [65]:
dollar_rate=(280)
dollar_income = monthly_incomepkr / dollar_rate
dollar_income

714.2857142857143

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [90]:
int(dollar_income)

714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [92]:
kg_gm=(1000)

ahmed_weight_in_kg = weightgm / kg_gm
ahmed_weight_in_kg
int(ahmed_weight_in_kg)

70

## 11) print the year of birth of Mr. Ahmed

In [95]:
birth_date = current_year - age
birth_date

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

                       Saylani Mass IT 
             Name   : Syed Muhammad Hassan
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 334614